/* Corrections */

html { font-size: 14px; }
body { font-family: "Roboto", sans-serif; }
a, a:visited, a:focus { color: #2196F3; }
a.no-dec { text-decoration: none; }
p { font-size: 16px; line-height: 1.5; }
iframe { border: none; width: 100%; }

/* Grid */

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
}

.c12, .c8, .c6, .c4, .c3 {
  grid-column-start: span 12;
}

@media (min-width: 768px) {
  .c12 { grid-column-start: span 12; }
  .c8 { grid-column-start: span 8; }
  .c6 { grid-column-start: span 6; }
  .c4 { grid-column-start: span 4; }
  .c3 { grid-column-start: span 3; }
}

/* Form */

label {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
}

input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select {
  box-sizing: border-box;
  width: 100%;
  height: 35px;
  padding: 0 10px;
  border: 1px solid #ECEFF1;
  font-size: 1rem;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ECEFF1;
  font-family: inherit;
  font-size: 1rem;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #757575;
}

/* Button */

button {
  box-sizing: border-box;
  min-width: 80px;
  height: 30px;
  border-radius: 5px;
  padding: 0 10px;
  border: none;
  background-color: #1565C0;
  color: #FFFFFF;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  transition-duration: 400ms;
}

button:hover {
  background-color: #2196F3;
}

/* Alert */

button.alert {
  background-color: #F44336;
}

button.alert:hover {
  background-color: #D32F2F;
}

/* Disabled */

button.disabled {
  background-color: #757575;
}

button.disabled:hover {
  background-color: #757575;
  cursor: default;
}

/* Icon */

button.icon {
  min-width: 0;
  height: auto;
  padding: 0;
  color: #1565C0;
  background-color: transparent;
}

button.icon:hover {
  color: #2196F3;
  background-color: transparent;
}

button.icon.alert {
  color: #F44336;
}

button.icon.alert:hover {
  color: #D32F2F;
}

/* Link */

form.link {
  display: inline;
}

form.link button {
  display: inline;
  background-color: transparent;
  min-width: 0;
  height: auto;
  padding: 0;
  color: #2196F3;
  line-height: 1;
  text-decoration: underline;
}

/* Div */

button.div {
  display: flex;
  align-items: center;
  min-width: 0;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border-radius: 0;
}

button.div i {
  margin-right: 5px;
}

button.white {
  background-color: #FFFFFF;
  color: #000000;
}

button.white:hover {
  background-color: #ECEFF1;
}

button.white.disabled {
  background-color: #FFFFFF;
  color: #9E9E9E;
}

/* Center */

button.center {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Buttons */

.buttons {
  display: flex;
}

.buttons a {
  text-decoration: none;
}

.buttons > button, .buttons > a, .buttons > .button-group {
  margin-right: 5px;
}

/* Button group */

.button-group {
  display: flex;
}

.button-group button {
  min-width: 0;
  flex-grow: 1;
  border-radius: 0;
}

/* Borders */

.button-group button:not(:last-child) {
  border-right: 1px solid #2196F3;
}

.button-group.borderless button {
  border-right: none;
}

/* Round */

.button-group > button:first-child {
  border-radius: 5px 0 0 5px;
}

.button-group > button:last-child {
  border-radius: 0 5px 5px 0;
}

/* Link */

.button-group a {
  text-decoration: none;
}

.button-group a:first-child button {
  border-radius: 5px 0 0 5px;
}

.button-group a:last-child button {
  border-radius: 0 5px 5px 0;
}

/* Input */

.button-group input[type="text"] {
  height: 30px;
  text-align: right;
}

.button-group input[type="text"]:first-child {
  border-radius: 5px 0 0 5px;
}

/* Text */

.button-group div {
  display: flex;
  align-items: center;
  padding: 0 5px;
  white-space: nowrap;
}

/* Modal */

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  padding: 20px;
  background-color: #FFFFFF;
}

.modal > h1 {
  margin: 0;
  color: #37474F;
}

.modal .content {
  padding: 20px 0;
}

.modal .wrap {
  max-height: 400px;
  padding-right: 5px;
  overflow-y: auto;
}
