/* Corrections */

html { font-size: 14px; }
body { margin: 0; font-family: "Roboto", sans-serif; }
a, a:visited, a:focus { color: #2196F3; }
a.no-dec { text-decoration: none; }
.clear { clear: both; }
iframe { border: none; }

/* Utils */

.full { position: absolute; height: 100%; width: 100%; left: 0; top: 0; }
.bg { background-position: center; background-size: cover; }

/* Grid */

.f { display: flex; flex-direction: column; }
.fw { display: flex; flex-wrap: wrap; }
.b1, .b2, .b3, .b2-3, .b4, .b3-4 { flex-basis: 100%; }

/* Desktop */

@media (min-width: 768px) {
  .f { display: flex; flex-direction: row; }
  .b1 { flex-basis: 100%; }
  .b2 { flex-basis: 50%; }
  .b3 { flex-basis: 33.33%; }
  .b2-3 { flex-basis: 66.66%; }
  .b4 { flex-basis: 25%; }
  .b3-4 { flex-basis: 75%; }
}

/* Form */

label {
  display: block;
  margin-bottom: 10px;
}

label .name {
  font-weight: 700;
}

input:focus, textarea:focus, button:focus, select:focus {
  outline: none;
}

input[type="text"], input[type="email"], input[type="password"] {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 35px;
  padding: 10px;
  border: 1px solid #ECEFF1;
  font-size: 1rem;
}

textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  padding: 10px;
  border: none;
  background-color: #ECEFF1;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #757575;
}

select {
  display: block;
}

/* Button */

button {
  box-sizing: border-box;
  min-width: 80px;
  height: 30px;
  border-radius: 5px;
  padding: 0 10px;
  border: none;
  background-color: #1565C0;
  color: #FFFFFF;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  transition-duration: 400ms;
}

button:hover {
  background-color: #2196F3;
}

button.right {
  margin-right: 5px;
}

/* Colors */

button.alert {
  background-color: #F44336;
}

button.alert:hover {
  background-color: #D32F2F;
}

button.success {
  background-color: #8BC34A;
}

button.success:hover {
  background-color: #689F38;
}

/* Disabled */

button.disabled {
  background-color: #757575;
}

button.disabled:hover {
  background-color: #757575;
  cursor: default;
}

/* Icon */

button.icon {
  min-width: 0;
  height: auto;
  padding: 0;
  color: #1565C0;
  background-color: transparent;
}

button.icon:hover {
  color: #2196F3;
  background-color: transparent;
}

button.icon.alert {
  color: #F44336;
}

button.icon.alert:hover {
  color: #D32F2F;
}

button.icon.success {
  color: #8BC34A;
}

button.icon.success:hover {
  color: #689F38;
}

/* Link */

form.link {
  display: inline;
}

form.link button {
  display: inline;
  background-color: transparent;
  min-width: 0;
  height: auto;
  padding: 0;
  color: #2196F3;
  line-height: 1;
  text-decoration: underline;
}

/* Div */

button.div {
  display: flex;
  align-items: center;
  min-width: 0;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border-radius: 0;
}

button.div i {
  margin-right: 5px;
}

button.white {
  background-color: #FFFFFF;
  color: #000000;
}

button.white:hover {
  background-color: #ECEFF1;
}

button.white.disabled {
  background-color: #FFFFFF;
  color: #9E9E9E;
}

/* Center */

button.center {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Button group */

.button-group {
  display: flex;
}

.button-group button {
  min-width: 0;
  flex-grow: 1;
  border-radius: 0;
}

.button-group div {
  display: flex;
  align-items: center;
  padding: 0 5px;
  white-space: nowrap;
}

/* Borders */

.button-group button:not(:last-child) {
  border-right: 1px solid #2196F3;
}

.button-group.borderless button {
  border-right: none;
}

/* Round */

.button-group > button:first-child {
  border-radius: 5px 0 0 5px;
}

.button-group > button:last-child {
  border-radius: 0 5px 5px 0;
}

/* Link */

.button-group a {
  text-decoration: none;
}

.button-group a:first-child button {
  border-radius: 5px 0 0 5px;
}

.button-group a:last-child button {
  border-radius: 0 5px 5px 0;
}

/* Form */

.button-group input[type="text"] {
  height: 30px;
  text-align: right;
}

.button-group input[type="text"]:first-child {
  border-radius: 5px 0 0 5px;
}

/* Modal */

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  padding: 20px;
  background-color: #FFFFFF;
}

.modal > h1 {
  margin: 0;
  color: #37474F;
}

.modal .content {
  padding: 20px 0;
}

.modal .wrap {
  max-height: 400px;
  padding-right: 5px;
  overflow-y: auto;
}

/* Wordpress */

/* Navigation */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 60px;
    padding: 0 15px;
    box-shadow: 0 0 3px #9E9E9E;
    background-color: #FFFFFF;
}

#header i {
    color: #2196F3;
    font-size: 2em;
}

nav {
    display: none;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #FFFFFF;
}

nav button {
    position: absolute;
    right: 15px;
    top: 13px;
}

nav li {
    display: block;
}

nav a, nav a:visited, nav a:focus {
    font-size: 2em;
    text-decoration: none;
}

.menu a, .menu a:visited, .menu a:focus {
    color: #2196F3;
}

.sub-menu {
    padding-left: 0px;
    margin-bottom: 20px;
}

.sub-menu a, .sub-menu a:visited, .sub-menu a:focus {
    color: #1565C0;
}

/* Content */

main {
    margin-top: 60px;
    min-height: calc(100vh - 60px - 150px);
}

#footer {
    padding: 15px;
    background-color: #ECEFF1;
    clear: both;
}
