#route {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #ECEFF1;
}

#route button {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

#route .text {
  flex-grow: 1;
  padding: 5px;
  /*background-color: #FFFFFF;*/
}

#files {
  box-sizing: border-box;
  height: calc(100vh - 46px);
  padding: 20px;
  overflow: auto;
}

#files > div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.file {
  padding: 10px;
  margin: 0 10px 10px 0;
  cursor: default;
}

.file:hover {
  background-color: #E3F2FD;
}

.file.selected {
  background-color: #BBDEFB;
}

.drag .file.selected, .file.cut {
  opacity: 0.25;
}

.file .thumb {
  position: relative;
  width: 120px;
  height: 120px;
}

.file .thumb.uploading {
  display: flex;
  align-items: center;
  background-color: #ECEFF1;
}

.file .bar {
  height: 9px;
  margin-bottom: 3px;
  background-color: #2196F3;
}

.file .icon-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.file .icon-thumb button {
  cursor: default;
}

.file .icon-thumb  i {
  font-size: 3em;
}

.file .icon-folder {
  background-color: #FFC107;
}

.file .icon-file {
  background-color: #2196F3;
}

.file .name {
  width: 100px;
  height: 36px;
  margin-top: 10px;
  font-size: 0.8em;
}

#helper {
  position: fixed;
  border: 1px solid #2196F3;
  background-color: rgba(33, 150, 243, 0.5);
  width: 100px;
  height: 100px;
  pointer-events: none;
}

#count {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #F44336;
  color: #FFFFFF;
}

#context-menu {
  position: fixed;
  min-width: 200px;
  padding: 5px 0;
  border: 1px solid #ECEFF1;
  background-color: #FFFFFF;
}

#context-menu i {
  color: #1565C0;
}

#context-menu .disabled i {
  color: #757575;
}

#context-menu .cancel i {
  color: #F44336;
}

label.button {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  margin-bottom: 0;
  cursor: pointer;
}

label.button:hover {
  background-color: #ECEFF1;
}

label.button input[type="file"] {
  display: none;
}

label.button i {
  margin-right: 5px;
}
