#file-manager {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#bar {
  display: flex;
  align-items: center;
  background-color: #ECEFF1;
  padding: 0 25px;
}

#bar button {
  display: flex;
  align-items: center;
}

#bar .text {
  flex-grow: 1;
  margin-left: 10px;
}

@keyframes dash {
  0% { stroke-dasharray: 0% 0% 40% 210%; }
  50% { stroke-dasharray: 0% 0% 210% 40%; }
  100% { stroke-dasharray: 0% 210% 40% 0%; stroke-dashoffset: -38%; }
}

@keyframes rotation {
  0% { }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}

#bar circle {
  fill: none;
  stroke: #1565C0;
  stroke-width: 2px;
  animation: dash 1.5s infinite;
}

#bar svg {
  animation: rotation 3s linear infinite;
}

#files {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 20px;
  overflow: auto;
  background-color: #FFFFFF;
}

#drop {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2196F3;
  opacity: 0.5;
}

.file {
  padding: 10px;
  margin: 0 10px 10px 0;
  cursor: default;
}

.file:hover {
  background-color: #E3F2FD;
}

.file.selected {
  background-color: #BBDEFB;
}

.drag .file.selected, .file.cut {
  opacity: 0.25;
}

.file .thumb {
  width: 120px;
  height: 120px;
}

.file .icon-folder, .file .icon-file {
  display: flex;
  justify-content: center;
  align-items: center;
}

.file img {
  pointer-events: none;
}

.file .icon-folder {
  background-color: #FFC107;
}

.file .icon-file {
  background-color: #2196F3;
}

.file.upload .thumb {
  display: flex;
  align-items: center;
  background-color: #ECEFF1;
}

#progress {
  height: 9px;
  margin-bottom: 3px;
  background-color: #2196F3;
}

.file .name {
  width: 100px;
  height: 36px;
  margin-top: 10px;
  font-size: 0.8em;
}

#control {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 25px;
  background-color: #ECEFF1;
}

#helper {
  position: fixed;
  border: 1px solid #2196F3;
  background-color: rgba(33, 150, 243, 0.5);
  width: 100px;
  height: 100px;
  pointer-events: none;
}

#count {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #F44336;
  color: #FFFFFF;
}

#context-menu {
  position: fixed;
  min-width: 200px;
  padding: 5px 0;
  border: 1px solid #ECEFF1;
  background-color: #FFFFFF;
}

#context-menu i {
  color: #1565C0;
}

#context-menu .disabled i {
  color: #757575;
}

#context-menu .cancel i {
  color: #F44336;
}

#context-menu label {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  margin-bottom: 0;
  cursor: pointer;
}

#context-menu label:hover {
  background-color: #ECEFF1;
}

#context-menu label input[type="file"] {
  display: none;
}

#context-menu label i {
  margin-right: 5px;
}
